<div class="row">
  <div class="col-md-2">
    <h5>Hi <%= @current_user.username %></h5>
    <h4>Users</h4>
    <%= turbo_stream_from 'users' %>
    <div id="users">
      <%= render @users %>
    </div>
    <h4>Rooms</h4>
    <%= render 'rooms/form' %>
    <%= turbo_stream_from 'rooms' %>
    <div id="rooms">
      <%= render @rooms %>
    </div>
  </div>
  <div class="col-md-10 bg-dark text-light">
    <% if @room %>
      <h4 class="text-center">
        <%= @room.name %>
      </h4>
    <% end %>
  </div>
</div>
